<form action="/edit-documenloop._id}}" method="post">
    <h3>Describe your loop:</h3>
    <div>
        <label for="date">Date of the event:</label>
        <input type="date" name="date" value="{{loop.date}}">
    </div>

     <div>
        <label for="title">Title</label>
        <input type="title" placeholder="Title" name="title" value="{{loop.title}}">
    </div>

    <div>
        <label for="triggers">What triggered this loop?</label>
        <input type="text" placeholder="Trigger(s)" name="triggers" value="{{loop.triggers}}">
    </div>

    <div>
        <label for="emotionalFeelings">Which emotions did you felt?</label>
        <input type="text" placeholder="Emotional feeling(s)" name="emotionalFeelings" value="{{loop.emotionalFeelings}}">
    </div>

    <div>
        <label for="bodyFeelings">How did your body felt?</label>
        <input type="text" placeholder="Body feeling(s)" name="bodyFeelings" value="{{loop.bodyFeelings}}">
    </div>

    <div>
        <label for="thoughts">What were you thinking?</label>
        <input type="text" placeholder="Thought(s)" name="thoughts" value="{{loop.thoughts}}"> 
    </div>

    <div>
        <label for="behaviors">What did you do?</label>
        <input type="text" placeholder="Behavior(s)" name="behaviors" value="{{loop.behaviors}}">
    </div>

    <h4>Alternative thoughts</h4>
    <div>
        <label for="chooseOneThought">First, choose one thought:</label>
        <input type="text" placeholder="One thought" name="chooseOneThought" value="{{loop.chooseOneThought}}">
    </div>

    <p>Then, answer these questions:</p>
    <div>
        <label for="whatElse">What else could I tell me in this situation ?</label>
        <input type="text" placeholder="Should write two answers..." name="whatElse" value="{{dloopwhatElse}}">
    </div>

    <div>
        <label for="whatSomeone">What <i>choose someone randomly</i> could think about this situation ?</label>
        <input type="text" placeholder="Should choose two people..." name="whatSomeone" value="{{loop.whatSomeone}}">
    </div>

    <div>
        <label for="whatOutsider">What an outside observer could tell about it ?</label>
        <input type="text" placeholder="Thoughts of an outsider..." name="whatOutsider" value="{{loop.whatOutsider}}">
    </div>

    <div>
        <label for="whatTwoYears">What would I say about this situation in two years ?</label>
        <input type="text" placeholder="Should write two thoughts..." name="whatTwoYears" value="{{loop.whatTwoYears}}">
    </div>

    <div>
        <label for="alternativeThoughts">With all these answers, which alternative thought(s) work for you ?</label>
        <input type="text" placeholder="Alternative thought(s)" name="alternativeThoughts" value="{{loop.alternativeThoughts}}">
    </div>

    <button type="submit">SAVE</button>

</form>