<h3 class="title-page">Read your loop document </h3>
<div class="form-container">
  <h4>Date of the event</h4>
  <p>{{#date}}{{loop.date}}{{/date}}</p>

  <h4>Title</h4>
  <p>{{loop.title}}</p>

  <h4>What triggered this loop?</h4>
  <p class="input-text">{{loop.triggers}}</p>

  <h4>Which emotions did you feel?</h4>
  <p class="input-text">{{loop.emotionalFeelings}}</p>

  <h4>How did your body feel?</h4>
  <p class="input-text">{{loop.bodyFeelings}}</p>

  <h4>What were you thinking?</h4>
  <p class="input-text">{{loop.thoughts}}</p>   

  <h4>What did you do?</h4>
  <p class="input-text">{{loop.behaviors}}</p>  

  <h4 class="title-doc">Alternative thoughts</h4>

  <h4>First, choose one thought:</h4>
  <p class="input-text">{{loop.chooseOneThought}}</p>   

  <h4>What else could I tell me in this situation?</h4>
  <p class="input-text">{{loop.whatElse}}</p>   

  <h4>What <i>x,y or z</i> could think about this situation?</h4>
  <p class="input-text">{{loop.whatSomeone}}</p>   

  <h4>What an outside observer could tell about it?</h4>
  <p class="input-text">{{loop.whatOutside}}</p> 

  <h4>What would I say about this situation in two years?</h4>
  <p class="input-text">{{loop.whatTwoYears}}</p>  

  <h4>With all these answers, which alternative thought(s) work for you?</h4>
  <p class="input-text">{{loop.alternativeThoughts}}</p>

  <a href="/patient/dashboard" class="btn-patient">Back</a>

</div>