{{#each this}}
<tr class="table-row">
  <td class="table-division">
    <div>{{this.docType}}</div>
  </td>

  <td class="table-division">
    <div>{{#date}}{{this.date}}{{/date}}</div>
  </td>

  <td class="table-division">
    <div>{{this.title}}</div>
  </td>
  <td class="table-division">
    <a href="/patient/read-document/{{this.docType}}/{{this._id}}"><i class="fas fa-eye table-icon"></i></a>
  </td>

</tr>
{{/each}}
{{#unless this}}
<tr>
  <td colspan="6">Sorry no document yet</td>
</tr>
{{/unless}}