<nav id="doctor-nav">
    <div id="logo-doctor">
        <img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615282779/MyTherapy/nuage-bleu_n59iee.png" alt="Blue cloud">
        <h1>My Therapy</h1>
    </div>
    <a href="/">Log out</a>
</nav>

<section id="all-for-doctor">
    <section id="doctor-left-bar">
        <img src="{{doctorInfo.photo}}" alt="{{doctorInfo.name}} {{doctorInfo.lastname}} picture">
        <h2>{{doctorInfo.name}} {{doctorInfo.lastname}}</h2>
        <hr>
        <h3>My Patients:</h3>
        <ul>
            {{#each doctorInfo.myPatients}}
            <li>
               <p class="select-one" value="{{this._id}}">{{this.name}} {{this.lastname}}</p> 
            </li>
            {{/each}}
        </ul>
    </section>
    <section id="doctor-right-bar">
       
        <div id="doctor-main"> 
            Waiting for a patient... 
        

   <table class="doctor-manage-table">
        <thead>
          <tr class="table-row">
            <th class="table-head-patient">Type</th>
            <th class="table-head-patient">Date</th>
            <th class="table-head-patient">Title</th>
            <th class="table-head-patient">Read</th>
      
          </tr>
        </thead>

        <tbody id="body">
          <tr class="table-row">
            <td colspan="5">Texts</td>
          </tr>



{{!-- {{/each}}
{{#unless this}}
<tr>
<td colspan="6">Sorry no document yet</td>
</tr>
{{/unless}} --}}

  <tr class="table-row">
  <td colspan="5">Loops</td>
  </tr>


        
{{!-- {{/each}}
{{#unless this}}
<tr>
<td colspan="6">Sorry no document yet</td>
</tr>
{{/unless}} --}}

        </tbody> 
      </table>
        





            
        
        </div>
    </section>
</section>

