<nav id="patient-nav">
    <div id="logo-patient">
        <a href="/"><img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615282779/MyTherapy/nuage-beige_r5ahwj.png" alt="Nuage beige"></a>
        <h1>My Therapy</h1>
    </div>
    <a href="/auth/patient/logout">Log out</a>
</nav>

<section id="all">
    <section id="left-bar">
        <div id="therapist">
            <h5>My Therapist:</h5>
            <img class="img-patient" src="{{patientInfo.myTherapist.photo}}"
                alt="{{patientInfo.myTherapist.name}} {{patientInfo.myTherapist.lastname}} picture">
            <p>{{patientInfo.myTherapist.name}} {{patientInfo.myTherapist.lastname}}</p>
        </div>
    </section>
    <section id="right-bar">
        <div id="head-infos">
            <div id="therapy">
                <h5>My Therapy:</h5>
                <p>{{patientInfo.myTherapy}}</p>
                <h5>My goals:</h5>
                <p>{{patientInfo.myGoals}}</p>
            </div> 
            <div id="account">
                <div id="bttns">
                    <button class="btn-patient-profile">Edit profile<i class="fas fa-user-edit"><a href="/patient/edit-profile/{{patientInfo._id}}"></a></i></button>
                    <button class="btn-patient-profile">Delete Profile<i class="fas fa-user-times"><a href="/patient/delete/{{patientInfo._id}}"></a></i></button>
                </div>
                <img class="img-patient" src="{{patientInfo.photo}}"
                    alt="{{patientInfo.name}} {{patientInfo.lastname}} picture">
                <h5>{{patientInfo.name}} {{patientInfo.lastname}}</h5>
            </div>
        </div>
        <div id="main">
            <div id="document-manager">{{>patientManageDocuments}}</div>
            <button id="add-doc">
                <i class="fas fa-plus">
                <a href="/patient/add-doc">Coucou</a><i>
            </button>
        </div>
    </section>
</section>