<nav id="patient-nav">
    <div id="logo-patient">
        <a href="/"><img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615282779/MyTherapy/nuage-beige_r5ahwj.png" alt="Nuage beige"></a>
        <h1>My Therapy</h1>
    </div>
    <a href="/auth/patient/signout">Log out</a>
</nav>

<section id="all">
    <section id="left-bar">
        <div id="therapist">
            <h5>My Therapist:</h5>
            <img class="img-patient" src="{{patientInfo.myTherapist.photo}}"
                alt="{{patientInfo.myTherapist.name}} {{patientInfo.myTherapist.lastname}} picture">
            <p>{{patientInfo.myTherapist.name}} {{patientInfo.myTherapist.lastname}}</p>
        </div>
    </section>
    <section id="right-bar">
        <div id="head-infos">
            <div id="therapy">
                <h5>My Therapy:</h5>
                <p>{{patientInfo.myTherapy}}</p>
                <h5>My goals:</h5>
                <p>{{patientInfo.myGoals}}</p>
            </div> 
            <div id="account">
                <div id="bttns">
                    <a class="btn-patient-profile" href="/patient/edit-profile/{{patientInfo._id}}">Edit profile<i class="fas fa-user-edit"></i></a>
                    <a class="btn-patient-profile" href="/patient/delete/{{patientInfo._id}}">Delete Profile<i class="fas fa-user-times"></i></a>
                </div>
                <img class="img-patient" src="{{patientInfo.photo}}"
                    alt="{{patientInfo.name}} {{patientInfo.lastname}} picture">
                <h5>{{patientInfo.name}} {{patientInfo.lastname}}</h5>
            </div>
        </div>
        <div id="main">
          <div id="document-manager">
            <div class="big-container manage-patients-wrapper">
              <h3 class="manage-patients-title">Your latest documents</h3>
              <table class="patients-manage-table">
                <thead>
                  <tr class="table-row">
                    <th class="table-head-patient">Type</th>
                    <th class="table-head-patient">Date</th>
                    <th class="table-head-patient">Title</th>
                    <th class="table-head-patient">Edit</th>
                    <th class="table-head-patient">Delete</th>
              
                  </tr>
                </thead>

                <tbody>
                  {{>patientManageDocuments patientInfo.myTexts}}
                  {{>patientManageDocuments patientInfo.myLoops}}
                </tbody> 
              </table>
          </div>
        </div>
            
        <a id="add-doc" href="/patient/add-doc"><i class="fas fa-plus"></i></a>
      </div>
    </section>
</section>