<nav id="doctor-nav">
    <div id="logo-doctor">
        <img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615282779/MyTherapy/nuage-bleu_n59iee.png" alt="Blue cloud">
        <h1>My Therapy</h1>
    </div>
    <a href="/">Log out</a>
</nav>

<section id="all-for-doctor">
    <section id="doctor-left-bar">
        <img src="{{doctorInfo.photo}}" alt="{{doctorInfo.name}} {{doctorInfo.lastname}} picture">
        <h2>{{doctorInfo.name}} {{doctorInfo.lastname}}</h2>
        <div id="bttns-doctor">
            <a class="btn-doctor-profile" href="/doctor/edit-profile/{{doctorInfo._id}}"><i class="fas fa-user-edit"></i>Edit your profile</a>
            <a class="btn-doctor-profile" href="/doctor/delete/{{doctorInfo._id}}"><i class="fas fa-user-times"></i>Delete your profile</a>
        </div>
        <hr>
        <h3>My Patients</h3>
        <ul>
            {{#each doctorInfo.myPatients}}
            <li>
               <p class="select-one" value="{{this._id}}">{{this.name}} {{this.lastname}}</p> 
            </li>
            {{/each}}
        </ul>
    </section>
    <section id="doctor-right-bar">
        <div id ="doctor-center">
            <div id="doctor-main">           
            Waiting for a patient... 
            </div>

            <table class="doctor-manage-table">
                <thead>
                <tr class="table-row">
                    <th class="table-head-patient doctor-row">Type</th>
                    <th class="table-head-patient doctor-row">Title</th>
                    <th class="table-head-patient doctor-row">Read</th>
                </tr>
                </thead>

                <tbody id="body">

                </tbody>
            </table>
        </div>
    </section>
</section>

