

<section id="left-bar">
    <div id="therapist">
        <h5>My Therapist</h5>
        <img class="img-patient" src="{{patientInfo.myTherapist.photo}}" alt="{{patientInfo.myTherapist.name}} {{patientInfo.myTherapist.lastname}} picture">
        <p>{{patientInfo.myTherapist.name}} {{patientInfo.myTherapist.lastname}}</p>
    </div>
    <div id="my-documents">
        <h5>My Documents</h5>
        <ul>
          {{#each patientInfo.myTexts}}
            <li>{{this.title}}</li>
          {{/each}}
        </ul>
    </div>
</section>
<section id="head-infos">
    <div id="therapy">
        <h5>My Therapy</h5>
        <p>{{patientInfo.myTherapy}}</p>
    </div>
    <div id="account">
        <img class="img-patient" src="{{patientInfo.photo}}" alt="{{patientInfo.name}} {{patientInfo.lastname}} picture">
        <h5>{{patientInfo.name}} {{patientInfo.lastname}}</h5>
        <button class="btn-patient"><a href="/patient/edit-profile/{{patientInfo._id}}">Edit Profile</a></button>
    </div>
    <div id="goal">
        <h5>My goals</h5>
        <p>{{patientInfo.myGoals}}</p>
    </div>
</section>
<section id="main">
    <div id="agenda">
    </div>
    <button id="add-doc">
        <i class="fas fa-plus"></i>
    </button>
</section>