<nav id="doctor-nav">
    <div id="logo-doctor">
        <img src="https://res.cloudinary.com/dcbzfldni/image/upload/v1615282779/MyTherapy/nuage-bleu_n59iee.png" alt="Blue cloud">
        <h1>My Therapy</h1>
    </div>
    <a href="/">Log out</a>
</nav>

<div class="form-container">

<h2 class="title-page-doctor">Your profile</h2>
<form method="post" action="/doctor/edit-profile/{{doctorInfo._id}}" class="form">

    <img src="{{doctorInfo.photo}}" alt="Profile picture">

    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="{{doctorInfo.name}}">

    <label for="lastname">Lastname</label>
    <input class="input" type="text" id="lastname" name="lastname" value="{{doctorInfo.lastname}}">
    
    <label for="email">Your Email</label>
    <input class="input" type="email" id="email" name="email" value="{{doctorInfo.email}}">
    
    <label for="phoneNumber">Phone number</label>
    <input type="text" name="phoneNumber" value="{{doctorInfo.phoneNumber}}">
 

    <label for="address">Address</label>
    <input type="text" name="address" value="{{doctorInfo.location.address}}">

    <label for="zipcode">Zip code</label>
    <input type="text" name="zipcode" value="{{doctorInfo.location.zipcode}}">
   
    <label for="city">City</label>
    <input type="text" name="city" value="{{doctorInfo.location.city}}">

    <label for="password">Your password</label>
    <input class="input" type="password" id="password" name="password" value="{{doctorInfo.password}}">

    <label for="myspecialty">Your specialty</label>
    <input type="text" id="myspecialty" name="myspecialty" value="{{doctorInfo.mySpecialty}}" >

    <button class="btn-doctor">Save changes</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
    
</form>

</div>