<h2 class="title-page">Edit your profile</h2>

<div class="form-container">

<form class="form" action="/patient/edit-profile/{{patientInfo._id}}" method="post">


<img class="img-patient" src="{{patientInfo.photo}}" alt="Profile picture">

    
        <label for="name">Name</label>
        <input type="text" name="name" value="{{patientInfo.name}}">
    

 
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" value="{{patientInfo.lastname}}">
 
    

        <label for="email">Email</label>
        <input type="text" name="email" value="{{patientInfo.email}}">



        <label for="phoneNumber">Phone number</label>
        <input type="text" name="phoneNumber" value="{{patientInfo.phoneNumber}}">
 

  
        <label for="address">Address</label>
        <input type="text" name="address" value="{{patientInfo.location.address}}">


 
        <label for="zipcode">Zip code</label>
        <input type="text" name="zipcode" value="{{patientInfo.location.zipcode}}">
   


        <label for="city">City</label>
        <input type="text" name="city" value="{{patientInfo.location.city}}">


  
        <label for="myTherapist">My Therapist</label>
        <select class="select hidden" name="myTherapist" id="select-edit-myTherapist">
          <option class="select-option" value="{{patientInfo.myTherapist._id}}" selected>Currently: {{patientInfo.myTherapist.name}} {{patientInfo.myTherapist.lastname}}</option>
          {{#each doctorsList}}
            <option class="select-option" value="{{this._id}}">{{this.name}} {{this.lastname}}</option>
          {{/each}}
        </select>
    
        <label for="myTherapy">My Therapy</label>
        <select class="select" name="myTherapy" id="myTherapy">
            <option class="select-option" value="Cognitive-behavioral therapy (CBT)" selected>Cognitive-behavioral therapy (CBT)</option>
            <option class="select-option" value="Psychoanalytic therapy">Psychoanalytic therapy</option>
            <option class="select-option" value="Group therapy">Group therapy</option>
        </select>
  
        <label for="myGoals">My goal</label>
        <input type="text" name="myGoals" value="{{patientInfo.myGoals}}">
  


<button class="btn-patient" type="submit">Save your changes</button>

</form>

</div>