<h2>Your profile:</h2>
<img src="{{patient.photo}}" alt="Profile picture">
<h3>{{patient.name}} {{patient.lastname}}</h3>
<p>{{patient.email}}</p>
<p>{{patient.phonenumber}}</p>
<p>{{patient.location.adress}}</p>
<p>{{patient.location.zipcode}}{{patient.location.city}}</p>
<p>{{patient.mytherapist}}</p>
<p>{{patient.mytherapy}}</p>
<p>{{patient.mygoals}}</p>

<a href="/patient/edit-profile">Edit your profile</a>
